* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #01061b;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    margin: 0 50px;
    width: 200px;
    height: 60px;
    border: 2px solid transparent;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

button:nth-child(1) {
    border: 2px solid #ff00c8;
    color: #ff00c8;
}
button:nth-child(1):hover {
    background-color: #ff00c8;
    color: #000;
    box-shadow: 0 0 10px #ff00c8,
    0 0 20px #ff00c8,
    0 0 40px #ff00c8,
    0 0 60px #ff00c8,
    0 0 80px #ff00c8;
}

button:nth-child(2) {
    border: 2px solid #00eeff;
    color: #00eeff;
}
button:nth-child(2):hover {
    background-color: #00eeff;
    color: #000;
    box-shadow: 0 0 10px #00eeff,
    0 0 20px #00eeff,
    0 0 40px #00eeff,
    0 0 60px #00eeff,
    0 0 80px #00eeff;
}

button:nth-child(3) {
    border: 2px solid #00ff15;
    color: #00ff15;
}
button:nth-child(3):hover {
    background-color: #00ff15;
    color: #000;
    box-shadow: 0 0 10px #00ff15,
    0 0 20px #00ff15,
    0 0 40px #00ff15,
    0 0 60px #00ff15,
    0 0 80px #00ff15;
}

@media (max-width: 899px) {
    .buttons {
        gap: 5rem;
    } 
}

@media (max-width: 679px) {
    .buttons {
        padding: 0 2rem;
    }

    button {
        margin: 25px 0;
    } 
}